.select-container{
    text-align: left;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.button-run {
    align-self: end;
}

.file-upload-container{
    display: flex;
    width: 70%;
    margin: auto ;
}
